<footer class="evlis-footer-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-box">
          <div class="footer-logo">
            <a href="index.html"
              ><img src="img/logo.png" alt="footer logo"
            /></a>
          </div>
          <div class="footer-copyright">
            <p>Copyright &copy; COMPUTELIB 2021.</p>
          </div>
          <div class="footer-box-right">
            <ul>
              <li>
                <a href="#"><img src="facebook-icon.svg" alt="" /></a>
              </li>
              <li>
                <a href="#"><img src="twitter-icon.svg" alt="" /></a>
              </li>
              <li>
                <a href="#"><img src="linkedin-icon.svg" alt="" /></a>
              </li>
              <li>
                <a href="#"><img src="youtube-icon.svg" alt="" /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
