<div class="contact-info">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="icon-box">
          <span class="material-symbols-outlined"> location_on </span>
        </div>
        <p>
          Offices: Computelib Software Arm of Pustakkosh Group #7 IHDP Serenia
          Sector 127 Noida <br />
          Sector 126 Near Amity University <br />
          201306, Noida
        </p>
      </div>
      <!-- .col-md-4 -->
      <div class="col-md-4">
        <div class="icon-box">
          <span class="material-symbols-outlined"> call </span>
        </div>
        <a href="#"
          >Mon - Fri 08:00 20:00<br />
          +91 7303517900, 9136437970</a
        >
      </div>
      <!-- .col-md-4 -->
      <div class="col-md-4">
        <div class="icon-box">
          <span class="material-symbols-outlined"> mail </span>
        </div>
        <a href="#"
          >Feel Free to Email Us<br />
          anupam&#64;computelib.com</a
        >
      </div>
      <!-- .col-md-4 -->
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
