<!-- <section class="evlis-promo-area section_100" data-scroll-index="0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="promo-box">
          <p>Our Crazy Skills</p>
          <h2>AI, Story Telling Data Analytics, BI, Edtech, E-Commerce</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img
              src="https://storage.ning.com/topology/rest/1.0/file/get/8541298865?profile=RESIZE_710x"
            />
          </div>
          <div class="col-md-6">
            <div class="wrapper">
              <div class="skill">
                <p>Edtech, E-commerce</p>
                <div class="skill-bar skill1 wow slideInLeft animated">
                  <span class="skill-count1">98</span>
                </div>
              </div>
              <div class="skill">
                <p>Microsoft Tech</p>
                <div class="skill-bar skill2 wow slideInLeft animated">
                  <span class="skill-count2">96</span>
                </div>
              </div>
              <div class="skill">
                <p>Web API Services, MWS</p>
                <div class="skill-bar skill3 wow slideInLeft animated">
                  <span class="skill-count3">95</span>
                </div>
              </div>
              <div class="skill">
                <p>Mobile Apps, PWA</p>
                <div class="skill-bar skill3 wow slideInLeft animated">
                  <span class="skill-count3">95</span>
                </div>
              </div>
              <div class="skill">
                <p>Data Intelligence, Visualization</p>
                <div class="skill-bar skill4 wow slideInLeft animated">
                  <span class="skill-count4">92</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<div class="wrapper">
  <div class="text">
    <h1>OUR EXPERTISE</h1>
    <p><span>What you can </span> gain with us</p>
  </div>
  <div class="skills">
    <div class="col">
      <div class="skill">
        <p>Edtech, E-commerce</p>
        <span class="skill-count1">98%</span>
        <div class="skill-bar skill1 wow slideInLeft animated"></div>
      </div>
      <div class="skill">
        <p>Microsoft Tech</p>
        <span class="skill-count2">96%</span>
        <div class="skill-bar skill2 wow slideInLeft animated"></div>
      </div>
      <div class="skill">
        <p>Web API Services, MWS</p>
        <span class="skill-count3">95%</span>
        <div class="skill-bar skill3 wow slideInLeft animated"></div>
      </div>
    </div>
    <div class="col">
      <div class="skill">
        <p>Mobile Apps, PWA</p>
        <span class="skill-count3">95%</span>
        <div class="skill-bar skill3 wow slideInLeft animated"></div>
      </div>
      <div class="skill">
        <p>Data Intelligence, Visualization</p>
        <span class="skill-count4">92%</span>
        <div class="skill-bar skill4 wow slideInLeft animated"></div>
      </div>
      <div class="skill">
        <p>Data Intelligence, Visualization</p>
        <span class="skill-count4">92%</span>
        <div class="skill-bar skill4 wow slideInLeft animated"></div>
      </div>
    </div>
  </div>
</div>
