<hr class="horizontal-line" />
<section class="evlis-sponsor-area section_70 wrapper" data-scroll-index="5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="site-heading">
          <h4>OUR CUSTOMERS</h4>
          <h2>Their satisfaction is our success</h2>
          <p>
            Pustakkosh, Mannara, Aquatrax, Amcare, Trinus, Vincere Consulting,
            St. Rose Women Imaging
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="sponsor-box-item">
          <div class="sponsor-heading">
            <h4>Companies</h4>
          </div>
          <div class="sponsor-box">
            <ul>
              <li>
                <a href="https://pustakkosh.com/"
                  ><img
                    src="https://computelib.com/assets/images/partners/logoFB.jpg"
                    alt="sponsor"
                  /><span>LA Housing Department</span></a
                >
              </li>
              <li>
                <a href="https://aquatraxsolutions.com/products/"
                  ><img
                    src="https://computelib.com/assets/images//partners/aquatrax.jpg"
                    alt="sponsor"
                  /><span>LA Housing Department</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.ecwid.com/apps/customersupport/pustakkosh-sms-marketing"
                  ><img
                    src="https://djqizrxa6f10j.cloudfront.net/apps/thirdparty/pustakkosh-sms-marketing/header.png"
                    alt="sponsor"
                  /><span>LA Housing Department</span></a
                >
              </li>
              <li>
                <a href="https://aquatraxsolutions.com/products/"
                  ><img
                    src="https://computelib.com/assets/images//partners/trackle.jpg"
                    alt="sponsor"
                  /><span>LA Housing Department</span></a
                >
              </li>
              <li>
                <a href="https://goo.gl/maps/cUqX893yNkMjbNBV6"
                  ><img
                    src="https://computelib.com/assets/images//partners/amCare.jpg"
                    alt="sponsor"
                  /><span>LA Housing Department</span></a
                >
              </li>
              <li>
                <a href="https://www.mannara-tech.com/"
                  ><img
                    src="https://computelib.com/assets/images//partners/mannara.png"
                    alt="sponsor"
                  /><span>LA Housing Department</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-12">
        <div class="section-action">
          <button>REACH OUT</button>
        </div>
      </div>
    </div> -->
  </div>
</section>
