<div id="portfolio" class="projects">
  <div class="head">
    <div class="content">
      <h4 id="heading"><span></span>OUR WORK</h4>
      <h1 id="heading-2">These Are Our Works</h1>
      <p id="middle">Made With Ideation, Creation And Innovation</p>
    </div>
  </div>
  <div class="project-imgs">
    <div class="project">
      <div class="img-cont">
        <img src="img/project-1.jpg" alt="" />
      </div>
      <div class="details">
        <div class="title">Lore</div>
        <div class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos aliquid
          sed sapiente?
        </div>
      </div>
    </div>
    <div class="project">
      <div class="img-cont">
        <img src="img/project-2.jpg" alt="" />
      </div>
      <div class="details">
        <div class="title">Lore</div>
        <div class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos aliquid
          sed sapiente?
        </div>
      </div>
    </div>
    <div class="project">
      <div class="img-cont">
        <img src="img/project-3.jpg" alt="" />
      </div>
      <div class="details">
        <div class="title">Lore</div>
        <div class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos aliquid
          sed sapiente?
        </div>
      </div>
    </div>
    <div class="project">
      <div class="img-cont">
        <img src="img/project-4.jpg" alt="" />
      </div>
      <div class="details">
        <div class="title">Lore</div>
        <div class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos aliquid
          sed sapiente?
        </div>
      </div>
    </div>
  </div>
  <button id="more">More Projects</button>
</div>
