<div class="testimonial">
  <div class="content">
    <h4 id="heading"><span id="point"></span>TESTIMONIAL</h4>
    <h1 id="heading-2">What Our Clients Say's</h1>
    <p id="middle">
      Few words from our clients based on our work on their business.
    </p>
  </div>
  <div class="testimonials">
    <div class="col">
      <div class="testimonial-box">
        <div class="details">
          <div class="img-cont">
            <img src="testimonial-2.png" alt="" />
          </div>
          <div class="content">
            <p id="name">Lisa Daniel</p>
            <p id="job">Designer</p>
          </div>
        </div>
        <p id="middle">
          <i>
            “ It was outstanding setting up a managed services center to support
            our IT infrastructure on AWS, thereby proactively and addressing
            resolving. ”
          </i>
        </p>
      </div>
      <div class="testimonial-box">
        <div class="details">
          <div class="img-cont">
            <img src="testimonial-2.png" alt="" />
          </div>
          <div class="content">
            <p id="name">Lisa Daniel</p>
            <p id="job">Designer</p>
          </div>
        </div>
        <p id="middle">
          <i>
            “ Leverage agile frameworks to provide a robust synopsis for high
            level overviews ”
          </i>
        </p>
      </div>
    </div>
    <div class="col">
      <div class="testimonial-box">
        <div class="details">
          <div class="img-cont">
            <img src="testimonial-2.png" alt="" />
          </div>
          <div class="content">
            <p id="name">Lisa Daniel</p>
            <p id="job">Designer</p>
          </div>
        </div>
        <p id="middle">
          <i>
            “ Leverage agile frameworks to provide a robust synopsis for high
            level overviews ”
          </i>
        </p>
      </div>
      <div class="testimonial-box">
        <div class="details">
          <div class="img-cont">
            <img src="testimonial-2.png" alt="" />
          </div>
          <div class="content">
            <p id="name">Lisa Daniel</p>
            <p id="job">Designer</p>
          </div>
        </div>
        <p id="middle">
          <i>
            “ It was outstanding setting up a managed services center to support
            our IT infrastructure on AWS, thereby proactively and addressing
            resolving. ”
          </i>
        </p>
      </div>
    </div>
  </div>
</div>
