<div class="facts">
  <div class="text">
    <h2>SOME FUN FACTS</h2>
    <p>More The Challenge More We Thrive. Easy Anyone Can Do Whats The Fun?</p>
  </div>
  <div class="fact-wrapper">
    <div class="fact">
      <h1 class="fact-number">13</h1>
      <p>Average Developer Experience.</p>
    </div>
    <div class="fact">
      <h1 class="fact-number">9</h1>
      <p>Innovative Products Developed..</p>
    </div>
    <div class="fact">
      <h1 class="fact-number">15</h1>
      <p>Average Industry Projects Per Developer.</p>
    </div>
    <div class="fact">
      <h1 class="fact-number">1000000</h1>
      <p>Average Lines Of Code Per Developer..</p>
    </div>
  </div>
</div>
