.facts {
  background: url(../../../../public/img/in-section-profit-3.png);
  position: relative;
  text-align: center;
  z-index: 1;

  padding: 3rem;
}

.facts:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: -webkit-linear-gradient(
    45deg,
    rgba(255, 138, 1, 1) 0%,
    rgba(225, 19, 123, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(255, 138, 1, 1) 0%,
    rgba(225, 19, 123, 1) 100%
  );
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.text {
  color: white;
  margin-bottom: 2rem;
}

.fact-wrapper {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem; */

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.fact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: white !important;

  background-color: rgb(255, 255, 255, 0.3);
}
