<!-- About Area Start -->
<section id="about" class="evlis-about-area section_70" data-scroll-index="1">
  <div class="attend-bg">
    <img src="img/circle-1.png" alt="circle" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about-box">
          <h4>About Computelib!</h4>
          <h2>
            Quality And Innovation. Products Deployed Across Geography.
            Partnering Startups In Futuristic Products
          </h2>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="single-attend-box">
              <div class="attend-image">
                <img src="img/sponsor.png" alt="sponsors" />
              </div>
              <div class="attend-text">
                <a href="#">
                  <h3>Experienced And Creative Team</h3>
                </a>
                <p>
                  Average experience in excess of 12 years. Led by top US
                  University Alumni, Startup Founder. We usually like to partner
                  with Startups and Innovators to create cutting edge products.
                  Our in-house products deployed in US and India.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="single-attend-box">
              <div class="attend-image">
                <img src="img/Speakers.png" alt="sponsors" />
              </div>
              <div class="attend-text">
                <a href="#">
                  <h3>Intelligent Industry Analytics</h3>
                </a>
                <p>
                  Our expertise is in intelligent industry (specially energy,
                  water and healthcare) analytics solutions, which optimize
                  efficiency. Our products are already saving US agencies
                  operational cost. We believe industry subject matter experts
                  are the best business decision makers, if data analytics is
                  presented using customized BI like Power BI with intelligent
                  measures.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-attend-box">
              <div class="attend-image">
                <img src="img/people.png" alt="sponsors" />
              </div>
              <div class="attend-text">
                <a href="#">
                  <h3>Edtech And Rental Ecommerce</h3>
                </a>
                <p>
                  Our Information Rights Management edtech and e-commerce
                  solutions are live in our startups Pustakkosh.com and
                  edSolute.com and in different online startups.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Area End -->
